nav#bar ul {
 list-style-type: none;
 padding: 0;
 margin: 30px;
}

nav#bar ul li {
 float: left;
 margin: 0 30px;
}

nav#bar ul li a {
 background-color: silver;
 display: block;
 color: black;
 text-decoration: none;
 text-align: center;
 font-weight: bold;
 font-size: 25px;
 width: 150px;
}

.clear {
 clear:both;
}

body {
 background-image: url(/media/resume.jpg);
 background-repeat: no-repeat;
 background-size: cover;
 margin: 0%;
}

