nav#bar ul {
 text-align: center;
 display: inline-block;
 list-style-type: none;
 border: 2px solid black;
 width: 650px;
 padding: 0;
 margin: 0px auto;
 overflow: hidden;
}

nav#bar ul li { 
 float: left;
 margin: 0 30px;
}

nav#bar ul li a {
 position: relative;
 background-color: rgb(104, 199, 231);
 display: block;
 color: white;
 text-decoration: none;
 text-align: center;
 font-weight: bold;
 font-size: 25px;
 width: 150px;
 z-index: 10;
}

nav#bar ul li a:hover {
 background-color: white;
 color: black;
 border-radius: 15px;
}

.clear {
 clear:both;
}

body#res {
 z-index: 8;
 background-image: url(https://dpuk71x9wlmkf.cloudfront.net/assets/2019/08/02193720/B7023-How-to-Build-my-Resume-Social.png);
 background-repeat: no-repeat;
 background-size: cover;
}

body#game {
 background-image: url(https://papers.co/wallpaper/papers.co-so01-purple-pink-fire-blur-gradation-25-wallpaper.jpg);
 background-repeat: no-repeat;
 background-size: cover;
 margin: 0%;
}

body#sport {
 background-image: url(https://cutewallpaper.org/21/color-fade-background/Color-Fade-iPhone-6-Wallpapers-Top-Free-Color-Fade-iPhone-.jpg);
 background-repeat: no-repeat;
 background-size: cover;
 margin: 0%;
}

div#centerin {
 box-sizing: content-box;
 position: relative;
 background-color: lightblue;
 width: 300px;
 height: 100%;
 height: max-content;
 font-family: 'Playfair Display', serif;
 color: black;
 margin-left: auto;
 margin-right: auto;
}

div#centerin h2{
 font-family: 'Playfair Display', serif;
 color: black;
 font-weight: bolder;
}

div#centerin h3{
 font-family: 'Playfair Display', serif;
 color: black;
 font-weight: 600;
}

div#centerp2 {
 display: block;
 margin-left: auto;
 margin-right: auto;
 width: 700px;
 font-family: 'Exo 2', sans-serif;
 font-style: italic;
 font-weight: bold;
 text-align: center;
 color: white;
}

#boxing1  p {
 box-sizing: content-box;
 top: auto;
 font-size: 20px;
 margin-top: 30px;
 width: 300px;
 float: right;
 font-family: 'Exo 2', sans-serif;
 font-style: italic;
 font-weight: bold;
 color: white;
}

#boxing2 p {
 box-sizing: content-box;
 float: left;
 top: auto;
 width: 300px;
 font-size: 20px;
 font-family: 'Exo 2', sans-serif;
 font-style: italic;
 font-weight: bold;
 color: white;
}

div#centerp3 {
 display: block;
 margin-left: auto;
 margin-right: auto;
 width: 50%;
 font-family: 'Spartan', sans-serif;
 font-size: 30px;
 font-weight: bold;
 text-align: center;
 color: white;
}